{% extends "layout.html" %}

 {% block css %}
    {% assets "css_spec" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block content %}

    <h1>{{ current_spec.name }}</h1>
        <blockquote>{{current_spec.description}}</blockquote>

        <div><a href="/specifications/{{current_spec.id}}/edit"><i class="fa fa-pencil"></i>Edit details</a> or <a href="/specifications/{{current_spec.id}}/delete"><i class="fa fa-trash-o"></i>Delete</a></div>

    <div>Back to project <a href="/projects/{{current_spec.project.id}}">{{current_spec.project.name}}</a></div>
<div class="body-content">


<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <h2>Visualisation of specification</h2>

<p>Number of variables <b id='num_vars_placeholder'>1</b> <button onclick="add_subplot()">+</button><button onclick="remove_subplot()">-</button></p>

<div id="diagrams">
    <div id="constraint_diagram_1"></div>
</div>


</div>
{% endblock %}



{% block js %}
<script type="text/javascript">csrf_token = "{{ csrf_token() }}"; </script>


{% assets "js_spec" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}


