
{% extends "layout.html" %}


 {% block css %}
    {% assets "css_spec" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}


{% block body_other %} onload="for(var i=0; i<generate.length; i++){ generate[i](); }"{% endblock %}


{% block content %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>

    <script type="text/javascript">var generate = [];</script>


    <h1>{{project.name}} <small>(<a href="/projects/{{project.id}}/edit"><i class="fa fa-pencil"></i>Edit</a> or
    <a href="/projects/{{project.id}}/delete"><i class="fa fa-trash-o"></i>Delete</a>)</small></h1>

    <blockquote>{{project.description}}</blockquote>

    <div><a href="/specifications/add?project={{project.id}}"><i class="fa fa-plus" aria-hidden="true"></i>Add a new specification to the project</a></div>

    {% for spec in project.specifications %}
        <h2>{{ spec.name }} <small>(<a href="/specifications/{{spec.id}}/edit"><i class="fa fa-pencil"></i>Edit</a> or
            <a href="/specifications/{{spec.id}}/delete"><i class="fa fa-trash-o"></i>Delete</a>)</small></h2>
        <blockquote>{{spec.description}}</blockquote>

        <p>Saved specification is: <code>{{spec.specification}}</code></p>

        <div id="constraint_{{spec.id}}">
            <script type="text/javascript">generate.push( function bar(x){ add_subplot_from_specification("{{spec.specification}}", "constraint_{{spec.id}}", "{{spec.id}}"); } )</script>
        </div>

    {% endfor %}

{% endblock %}


{% block js %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
</script>


{% assets "js_spec" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
